body {
    background-color: cornflowerblue;
}
.main-container {
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    margin-top: 100px;
}

.lhs-container {
    width: 340px;
    height: 400px;
    float: left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
}
.rhs-container {
    width: 250px;
    height: 400px;
    float: left;
    margin-left: 10px;
    
}
.login-container {
    width: 250px;
    height: 100px;
    float: right;
    position: relative;
    padding-top: 10px;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
}
.signup-container {
    width: 250px;
    height: 280px;
    float: right;
    position: relative;
    margin-top: 10px;
    background-color: white;
    border: 1px solid black;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.99);
}
input {
    width: 120px;
    float: left;
}
select {
    width: 120px;
    height: 23px;
    float: left;
}
label {
    width: 120px;
    float: left;
    margin-left: 5px;
}

/* Float cancel and signup buttons and add an equal width */
.signupbtn {
    float: right;
    width: 30%;
    margin: 5px;
  }

  .loginbtn {
    float: right;
    width: 30%;
    margin: 5px;
  }
/* Set a style for all buttons
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  } */